<h1>Create Pirates and Ships</h1>
<h2>Pirate</h2>
<form action="/pirates" method="post">
  <label for="p_name">Name:</label>
  Pirate Name: <input type="text" id="p_name" name="pirate[name]">
  Pirate Weight: <input type="text" d="p_weight" name="pirate[weight]">
  Pirate Height: <input type="text" d="p_height" name="pirate[height]">
  <!-- <input id="submit" type="submit"> -->
<!-- </form> -->
<h2>Ship 1</h2>
<!-- <form action="/pirates" method="post"> -->
  <!-- Ship Name: <input type="text" name="pirate[ships][][ship_name_1]"> -->
  Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]">
  Ship Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]">
  Ship Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  <!-- <input id="submit" type="submit"> -->
<!-- </form> -->
<h2>Ship 2</h2>
<!-- <form action="/pirates" method="post"> -->
  Ship Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]">
  Ship Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]">
  Ship Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
  <br>
  <!-- <input id="Submit" type="Submit" name="Submit"> -->
  <!-- <input id="Submit" type="Submit" value="Submit"> -->
  <!-- <input type="submit" id="submit"> -->
  <input type="submit" id="submit" title="Submit">
</form>
